[Desktop Entry]
Name=Display Configuration
Name[ar]=اضبط العرض
Name[bs]=Konfiguracija ekrana
Name[ca]=Configuració de la pantalla
Name[ca@valencia]=Configuració de la pantalla
Name[da]=Konfiguration af skærme
Name[de]=Anzeige-Einrichtung
Name[el]=Διαμόρφωση οθόνης
Name[en_GB]=Display Configuration
Name[es]=Configuración de la pantalla
Name[et]=Ekraani seadistamine
Name[fi]=Näyttöasetukset
Name[fr]=Configuration de l'affichage
Name[gl]=Configuración da pantalla
Name[hu]=Kijelzőbeállítás
Name[it]=Configurazione dello schermo
Name[ko]=디스플레이 설정
Name[lt]=Ekrano konfigūracija
Name[nl]=Instellingen van het scherm
Name[pa]=ਡਿਸਪਲੇਅ ਸੰਰਚਨਾ
Name[pl]=Ustawienia wyświetlania
Name[pt_BR]=Configuração da tela
Name[ro]=Configurare afișaj
Name[ru]=Настройка экранов
Name[sk]=Nastavenie obrazovky
Name[sl]=Nastavitve zaslona
Name[sv]=Inställning av bildskärm
Name[tr]=Ekran Yapılandırması
Name[uk]=Налаштування дисплея
Comment=Quickly switch between screen layouts and presentation mode
Icon=preferences-desktop-display-randr

X-KDE-ServiceTypes=Plasma/Applet
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=org.kde.kscreen
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
