[Desktop Entry]
Name=KScreen 2
Comment=Screen management

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kscreen
X-KDE-DBus-ModuleName=kscreen
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
