[Desktop Entry]
Name=KScreen 2
Name[ga]=KScreen 2
Name[pt_BR]=KScreen 2
Name[uk]=KScreen 2
Name[x-test]=xxKScreen 2xx
Comment=Screen management
Comment[ga]=Bainisteoireacht an Scáileáin
Comment[pt_BR]=Gerenciamento de telas
Comment[uk]=Керування екраном
Comment[x-test]=xxScreen managementxx

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kscreen
X-KDE-DBus-ModuleName=kscreen
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
