[Desktop Entry]
Name=KScreen 2
Name[bs]=KScreen 2
Name[cs]=KScreen 2
Name[da]=KScreen 2
Name[de]=KScreen 2
Name[el]=KScreen 2
Name[es]=KScreen 2
Name[et]=KScreen 2
Name[fi]=KScreen 2
Name[fr]=KScreen 2
Name[ga]=KScreen 2
Name[gl]=KScreen 2
Name[hu]=KScreen 2
Name[it]=KScreen 2
Name[mr]=के-स्क्रीन 2
Name[nl]=KScreen 2
Name[pt]=KScreen 2
Name[pt_BR]=KScreen 2
Name[ru]=KScreen 2
Name[sk]=KScreen 2
Name[sl]=KScreen 2
Name[sv]=Kscreen 2
Name[tr]=KScreen 2
Name[uk]=KScreen 2
Name[x-test]=xxKScreen 2xx
Name[zh_CN]=KScreen 2
Name[zh_TW]=KScreen 2
Comment=Screen management
Comment[bs]=Upravljanje ekranom
Comment[cs]=Správa obrazovek
Comment[da]=Håndtering af skærme
Comment[de]=Bildschirm-Verwaltung
Comment[el]=Διαχείριση οθονών
Comment[es]=Gestión de pantallas
Comment[et]=Ekraanihaldur
Comment[fi]=Näyttöjen hallinta
Comment[fr]=Gestion d'écrans
Comment[ga]=Bainisteoireacht an Scáileáin
Comment[gl]=Xestor de pantalla
Comment[hu]=Képernyőkezelés
Comment[it]=Gestione dello schermo
Comment[mr]=स्क्रीन व्यवस्थापन
Comment[nl]=Schermbeheer
Comment[pt]=Gestão do ecrã
Comment[pt_BR]=Gerenciamento de telas
Comment[ru]=Управление экраном
Comment[sk]=Správa obrazoviek
Comment[sl]=Upravljanje zaslonov
Comment[sv]=Skärmhantering
Comment[tr]=Ekran yönetimi
Comment[uk]=Керування екраном
Comment[x-test]=xxScreen managementxx
Comment[zh_CN]=屏幕管理
Comment[zh_TW]=螢幕管理

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kscreen
X-KDE-DBus-ModuleName=kscreen
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
