[Desktop Entry]
Exec=kcmshell4 displayconfiguration
Icon=preferences-desktop-display-randr
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_displayconfiguration
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=50

Name=Display Configuration
Comment=Manage and configure monitors and displays
