[Desktop Entry]
Exec=kcmshell4 displayconfiguration
Icon=preferences-desktop-display-randr
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_displayconfiguration
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=50

Name=Display Configuration
Name[bs]=Konfiguracija ekrana
Name[cs]=Nastavení zobrazení
Name[da]=Konfiguration af skærme
Name[el]=Διαμόρφωση απεικόνισης
Name[et]=Ekraani seadistamine
Name[ga]=Cumraíocht an Scáileáin
Name[gl]=Configuración da pantalla
Name[hu]=Megjelenítési beállítások
Name[nl]=Instellingen van het scherm
Name[pt]=Configuração do Ecrã
Name[pt_BR]=Configuração da tela
Name[ro]=Configurare monitor
Name[sk]=Nastavenie obrazovky
Name[sv]=Visa inställning
Name[uk]=Налаштування дисплея
Name[x-test]=xxDisplay Configurationxx
Comment=Manage and configure monitors and displays
Comment[bs]=Upravljanje i konfiguracija monitora i ekrana
Comment[cs]=Spravovat a nastavit monitory a zobrazení
Comment[da]=Håndtér og indstil monitorer og skærme
Comment[el]=Διαχείριση και διαμόρφωση απεικονίσεων και οθονών
Comment[et]=Monitoride ja ekraanide haldamine ja seadistamine
Comment[ga]=Bainistigh agus cumraigh monatóirí agus scáileáin
Comment[hu]=Monitorok és kijelzők kezelése és beállítása
Comment[nl]=Monitoren en schermen beheren en instellen
Comment[pt]=Faz a gestão e configuração dos monitores e ecrãs
Comment[pt_BR]=Gerencia e configura monitores e telas
Comment[ro]=Gestionează și configurează monitoare și afișaje
Comment[sk]=Správa a nastavenie monitorov a obrazoviek
Comment[sv]=Hantera och ställ in bildskärmar
Comment[uk]=Керування і налаштовування моніторів і дисплеїв
Comment[x-test]=xxManage and configure monitors and displaysxx
