[Desktop Entry]
Exec=kcmshell4 kcm_kscreen
Icon=preferences-desktop-display-randr
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kscreen
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=50

Name=Display Configuration
Name[bs]=Konfiguracija ekrana
Name[cs]=Nastavení zobrazení
Name[da]=Konfiguration af skærme
Name[de]=Anzeige einrichten
Name[el]=Διαμόρφωση απεικόνισης
Name[es]=Configuración de las pantallas
Name[et]=Ekraani seadistamine
Name[fi]=Näyttöasetukset
Name[fr]=Configuration de l'affichage
Name[ga]=Cumraíocht an Scáileáin
Name[gl]=Configuración da pantalla
Name[hu]=Megjelenítési beállítások
Name[it]=Configurazione dello schermo
Name[mr]=प्रदर्शकाची संयोजना
Name[nl]=Instellingen van het scherm
Name[pt]=Configuração do Ecrã
Name[pt_BR]=Configuração da tela
Name[ro]=Configurare monitor
Name[ru]=Настройка экрана
Name[sk]=Nastavenie obrazovky
Name[sl]=Nastavitve zaslona
Name[sv]=Inställning av bildskärm
Name[tr]=Ekran Yapılandırması
Name[uk]=Налаштування дисплея
Name[x-test]=xxDisplay Configurationxx
Name[zh_CN]=显示配置
Name[zh_TW]=顯示設定
Comment=Manage and configure monitors and displays
Comment[bs]=Upravljanje i konfiguracija monitora i ekrana
Comment[cs]=Spravovat a nastavit monitory a zobrazení
Comment[da]=Håndtér og indstil monitorer og skærme
Comment[de]=Verwaltung und Einrichtung vom Monitoren und Anzeigen
Comment[el]=Διαχείριση και διαμόρφωση απεικονίσεων και οθονών
Comment[es]=Gestionar y configurar monitores y pantallas
Comment[et]=Monitoride ja ekraanide haldamine ja seadistamine
Comment[fi]=Näyttöjen asetusten hallinta
Comment[fr]=Gère et configure les moniteurs et les écrans
Comment[ga]=Bainistigh agus cumraigh monatóirí agus scáileáin
Comment[gl]=Xestiona a configura os monitores e a resolución
Comment[hu]=Monitorok és kijelzők kezelése és beállítása
Comment[it]=Gestisci e configura monitor e schermi
Comment[mr]=मॉनिटर्स व प्रदर्शक संयोजीत करा
Comment[nl]=Monitoren en schermen beheren en instellen
Comment[pt]=Faz a gestão e configuração dos monitores e ecrãs
Comment[pt_BR]=Gerencia e configura monitores e telas
Comment[ro]=Gestionează și configurează monitoare și afișaje
Comment[ru]=Управление и настройка мониторов и экранов
Comment[sk]=Správa a nastavenie monitorov a obrazoviek
Comment[sl]=Upravljajte in nastavljajte zaslone in prikazovalnike
Comment[sv]=Hantera och ställ in bildskärmar
Comment[tr]=Ekranları ve görüntüleri yönet, yapılandır
Comment[uk]=Керування і налаштовування моніторів і дисплеїв
Comment[x-test]=xxManage and configure monitors and displaysxx
Comment[zh_CN]=管理和配置显示和监视器
Comment[zh_TW]=管理與設定螢幕與顯示
