[Desktop Entry]
Type=Application
Name=Display Configuration
Name[ar]=ضبط العرض
Name[bg]=Конфигурация на екрана
Name[ca]=Configuració de la pantalla
Name[ca@valencia]=Configureu la pantalla
Name[cs]=Nastavení zobrazení
Name[de]=Anzeige-Einrichtung
Name[en_GB]=Display Configuration
Name[eo]=Montra Agordo
Name[es]=Configuración de la pantalla
Name[eu]=Bistaratze-konfigurazioa
Name[fi]=Näyttöasetukset
Name[fr]=Configuration de l'affichage
Name[gl]=Configuración da pantalla
Name[he]=הגדרות תצוגה
Name[hi]=प्रदर्शन कॉन्फ़िगरेशन
Name[hu]=Kijelzőbeállítás
Name[ia]=Configuration  de monstrator
Name[id]=Konfigurasi Layar
Name[is]=Skjástillingar
Name[it]=Configurazione dello schermo
Name[ja]=ディスプレイの設定
Name[ka]=ეკრანის მორგება
Name[ko]=디스플레이 설정
Name[lv]=Displeja konfigurācija
Name[nb]=Skjermoppsett
Name[nl]=Configuratie van het scherm
Name[nn]=Skjerm­oppsett
Name[pa]=ਡਿਸਪਲੇਅ ਸੰਰਚਨਾ
Name[pl]=Ustawienia wyświetlania
Name[pt_BR]=Configurações de tela
Name[ro]=Configurare afișaj
Name[ru]=Настройка экранов
Name[sa]=प्रदर्शन विन्यास
Name[sk]=Nastavenie obrazovky
Name[sl]=Nastavitev zaslonov
Name[sv]=Bildskärmsinställning
Name[ta]=திரை அமைப்பு
Name[tr]=Görüntü Yapılandırması
Name[uk]=Налаштування дисплея
Name[zh_CN]=显示器配置
Name[zh_TW]=顯示器設定
Icon=preferences-desktop-display
Actions=ShowOSD
StartupNotify=false
X-KDE-GlobalShortcutType=Service

[Desktop Action ShowOSD]
Name=Switch Display
Name[ar]=بدّل العرض
Name[bg]=Превключване на екрана
Name[ca]=Commuta la pantalla
Name[ca@valencia]=Canvia la pantalla
Name[cs]=Přepnout obrazovku
Name[de]=Anzeigen wechseln
Name[en_GB]=Switch Display
Name[eo]=Ŝanĝi Ekranon
Name[es]=Cambiar pantalla
Name[eu]=Aldatu bistaratzailea
Name[fi]=Vaihda näyttöä
Name[fr]=Basculer l'affichage
Name[gl]=Cambiar de pantalla
Name[he]=החלפת תצוגה
Name[hi]=स्विच डिस्प्ले
Name[hu]=Kijelzőváltás
Name[ia]=Commuta Monstrator
Name[is]=Skipta um skjá
Name[it]=Cambia schermo
Name[ka]=ეკრანის გადართვა
Name[ko]=디스플레이 전환
Name[lv]=Pārslēgt displeju
Name[nb]=Bytt skjerm
Name[nl]=Scherm wisselen
Name[nn]=Byt skjerm
Name[pa]=ਡਿਸਪਲੇਅ ਬਦਲੋ
Name[pl]=Przełącz ekran
Name[pt_BR]=Alternar Tela
Name[ru]=Сменить экран
Name[sa]=प्रदर्शनं स्विच कुर्वन्तु
Name[sk]=Prepnúť obrazovku
Name[sl]=Preklopi zaslon
Name[sv]=Byt bildskärm
Name[ta]=திரையை மாற்றியமை
Name[tr]=Görüntüyü Değiştir
Name[uk]=Перемикання дисплея
Name[zh_CN]=切换显示器
Name[zh_TW]=切換顯示器
Exec=dbus-send --type=method_call --print-reply --dest=org.kde.kscreen.osdService /org/kde/kscreen/osdService org.kde.kscreen.osdService.showActionSelector
X-KDE-Shortcuts=Display,Meta+P
X-KDE-Migrate-Shortcut=kded5,display
