[Desktop Entry]
Type=Application
Name=Display Configuration
Name[ca]=Configuració de la pantalla
Name[es]=Configuración de la pantalla
Name[eu]=Bistaratze konfigurazioa
Name[gl]=Configuración da pantalla
Name[tr]=Görüntü Yapılandırması
Name[zh_TW]=顯示器設定
Icon=preferences-desktop-display
Actions=ShowOSD
StartupNotify=false
X-KDE-GlobalShortcutType=Service

[Desktop Action ShowOSD]
Name=Switch Display
Name[ca]=Commuta la pantalla
Name[es]=Cambiar pantalla
Name[eu]=Aldatu bistaratzailea
Name[tr]=Görüntüyü Değiştir
Name[zh_TW]=切換顯示器
Exec=dbus-send --type=method_call --dest=org.kde.kscreen.osdService /org/kde/kscreen/osdService org.kde.kscreen.osdService.showActionSelector
X-KDE-Shortcuts=Display,Meta+P
X-KDE-Migrate-Shortcut=kded5,display
